body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:85px;
  width:375px;
  height:580px;
}
#u2412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2413 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:35px;
  width:1px;
  height:16px;
}
#u2413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u2414 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:21px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u2414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:18px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2415 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:55px;
  width:69px;
  height:18px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:65px;
  word-wrap:break-word;
}
#u2416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u2416 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:21px;
  width:375px;
  height:20px;
}
#u2416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u2417 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:84px;
  width:375px;
  height:1px;
}
#u2417_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#626262;
}
#u2418 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:665px;
  width:375px;
  height:49px;
  color:#626262;
}
#u2418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2419 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:700px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u2420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2420 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:671px;
  width:25px;
  height:25px;
}
#u2420_img.selected {
}
#u2420.selected {
}
#u2420_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2421 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:700px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2422 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:671px;
  width:25px;
  height:25px;
}
#u2422_img.selected {
}
#u2422.selected {
}
#u2422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:10px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2423 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:700px;
  width:49px;
  height:10px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u2423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:45px;
  word-wrap:break-word;
}
#u2424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2424 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:671px;
  width:25px;
  height:25px;
}
#u2424_img.selected {
}
#u2424.selected {
}
#u2424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2425 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:214px;
  width:36px;
  height:36px;
}
#u2425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2426 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:233px;
  width:276px;
  height:16px;
  color:#999999;
}
#u2426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u2427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2427 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:259px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2428 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:259px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2429 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:294px;
  width:353px;
  height:1px;
}
#u2429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2430 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:331px;
  width:276px;
  height:16px;
  color:#999999;
}
#u2430_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u2431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2431 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:356px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2432 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:356px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2433 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:383px;
  width:353px;
  height:1px;
}
#u2433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2434 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:438px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2435 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:438px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2436 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:465px;
  width:353px;
  height:1px;
}
#u2436_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2437 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:480px;
  width:276px;
  height:16px;
  color:#999999;
}
#u2437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u2438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2438 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:512px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2439 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:512px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2440 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:539px;
  width:353px;
  height:1px;
}
#u2440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u2441 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:644px;
  width:329px;
  height:1px;
}
#u2441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
  text-align:center;
}
#u2442 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:636px;
  width:151px;
  height:16px;
  color:#666666;
  text-align:center;
}
#u2442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  word-wrap:break-word;
}
#u2443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2443 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:317px;
  width:36px;
  height:36px;
}
#u2443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2444 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:395px;
  width:36px;
  height:36px;
}
#u2444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2445 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:474px;
  width:36px;
  height:36px;
}
#u2445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2446 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:214px;
  width:15px;
  height:15px;
}
#u2446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2447 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:665px;
  width:15px;
  height:15px;
}
#u2447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2448 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:213px;
  width:29px;
  height:16px;
}
#u2448_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2449_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2449 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:257px;
  width:19px;
  height:21px;
  font-size:12px;
}
#u2449_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:21px;
}
#u2450 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:438px;
  width:19px;
  height:21px;
  font-size:12px;
}
#u2450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2451 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:507px;
  width:27px;
  height:27px;
  font-size:12px;
}
#u2451_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2452 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:355px;
  width:21px;
  height:21px;
}
#u2452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:307px;
  width:23px;
  height:16px;
}
#u2453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:414px;
  width:276px;
  height:16px;
  color:#999999;
}
#u2454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:390px;
  width:23px;
  height:16px;
}
#u2455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:562px;
  width:276px;
  height:16px;
  color:#999999;
}
#u2456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  word-wrap:break-word;
}
#u2457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u2457 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:594px;
  width:57px;
  height:16px;
  color:#999999;
}
#u2457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u2458 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:594px;
  width:37px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u2458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:2px;
}
#u2459 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:621px;
  width:353px;
  height:1px;
}
#u2459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u2460 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:556px;
  width:36px;
  height:36px;
}
#u2460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2461 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:592px;
  width:20px;
  height:20px;
}
#u2461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2463_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(121, 187, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u2463 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:95px;
  width:60px;
  height:60px;
  color:#FFFFFF;
}
#u2463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u2464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2464 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2464_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(133, 206, 97, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u2466 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:95px;
  width:60px;
  height:60px;
  color:#FFFFFF;
}
#u2466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u2467_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2467 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:165px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(247, 137, 137, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  color:#FFFFFF;
}
#u2469 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:95px;
  width:60px;
  height:60px;
  color:#FFFFFF;
}
#u2469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u2470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2470 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:165px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u2472 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:95px;
  width:60px;
  height:60px;
  color:#FFFFFF;
}
#u2472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u2473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2473 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:165px;
  width:57px;
  height:16px;
  color:#666666;
}
#u2473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2474 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:207px;
  width:354px;
  height:448px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
